<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\mydb.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RegistrationConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RegistrationDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UserInfoConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UserInfo.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="_10AugustConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\10August.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RDSICA.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>

</configuration>
